<div class="modal fade in form-custom-field-modal">
    <div class="modal-header">
        <div class="button close btn-dismiss" {{action cancel }}>x</div>
        <h2 class="app-icon-large">{{view.name}}</h2>
    </div>
    <div class="modal-body">
      {{yield}}        
    </div> 
    <div class="modal-footer">
        <button class="btn btn-dark" {{action cancel }}>Cancel</button>
        <button class="btn btn-success" type="submit"  {{action submit }}>Ok</button>
    </div>
</div>